:root{
    --blue: rgb(4, 169, 202); 
    --white: white;
    --ltgrey:rgb(248, 249, 250);
}
body{
    font-family: "Sen", sans-serif;
}

header {
    position: fixed;
    z-index: 5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--blue);
    padding: 10px 30px;
    width: 100vw;
}

header > div {
    display: flex;
    align-items: center;
}

header img {
    width: 50px;
    height: 49px;
    margin-right: 10px; 
}

#search {
    width: 500px;
    padding-top: 10px;
}

#lt {
    color: var(--white);
    font-weight: 650;
    font-size: larger;
}

.hdbtn {
    margin-left: 10px;
}

#cartico {
    width: 40px;
    height: 40px;
    margin-left: 20px;
}

#hero {
    padding: 100px 0;
    background: var(--ltgrey);
    text-align: center;
}

#allcards {
    margin-top: 33px;
    display: flex;
    justify-content: space-between;
    row-gap: 50px;
    flex-wrap: wrap;
    align-items: center;
    border: 3px solid var(--blue);
    width: 90vw;
    transform: translateX(5%);
    padding: 50px;
    border-radius: 10px;
}

.card {
    margin-bottom: 20px;
}

.cdimg {
    height: 100px;
    display: none;
}

footer {
    width: 99vw;
}

.btn-primary {
    background-color: var(--blue);
    border: none;
}

.btn-primary:hover {
    background-color: var(--blue);
    border: none;
}

#hero{
    background-color: white;
    padding-top: 150px;
}

#heroTitle{
    font-weight: 700;
}
#heroDescription{
    width: 350px;
    text-align: start;
}
#heroprice{
    display: flex;
}

#cardhead{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: max-content;
    font-weight: 700;
    text-align: center;
    background-color: var(--blue);
    border-radius: 10px 10px 0px 0px;
    color: var(--white);
    padding: 10px;
}