:root {
    --blue: rgb(0, 168, 202); 
    --white: white;
    --ltgrey: rgb(248, 249, 250);
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Sen", sans-serif;
}

header {
    position: fixed;
    z-index: 5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--blue);
    padding: 10px 30px;
    width: 100vw;
}

header > div {
    display: flex;
    align-items: center;
}

header img {
    width: 50px;
    height: 49px;
    margin-right: 10px; 
}

#search {
    width: 40%;
    padding-top: 10px;
}

#lt {
    color: var(--white);
    font-weight: 650;
    font-size: larger;
}

.hdbtn {
    margin-left: 10px;
}

#cartico {
    width: 40px;
    height: 40px;
    margin-left: 20px;
}

#hero {
    padding: 100px 0;
    background: var(--ltgrey);
    text-align: center;
}

#allcards {
    margin-top: 33px;
    display: flex;
    justify-content: space-between;
    row-gap: 50px;
    flex-wrap: wrap;
    align-items: center;
    border: 3px solid var(--blue);
    width: 90vw;
    transform: translateX(5%);
    padding: 50px;
    border-radius: 10px;
}

.card {
    margin-bottom: 20px;
    cursor: pointer;
}

.cdimg {
    height: 100px;
    display: none;
}

footer {
    width: 99vw;
}

.btn-primary {
    background-color: var(--blue);
    border: none;
}

.btn-primary:hover {
    background-color: var(--blue);
    border: none;
}

#hero {
    background-color: white;
    padding-top: 150px;
}

#heroTitle {
    font-weight: 700;
}

#heroDescription {
    width: 350px;
    text-align: start;
}

#heroprice {
    display: flex;
}

#cardhead {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: max-content;
    font-weight: 700;
    text-align: center;
    background-color: var(--blue);
    border-radius: 10px 10px 0px 0px;
    color: var(--white);
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.card-text {
    transition: 1s;
    font-size: 15px;
    height: 48px;
    overflow: hidden;
}

.card:hover .card-text {
    transition: .4s;
    height: 68px;
    overflow: none;
}

#pnf {
    transition: opacity 0.5s ease-in-out;
    position: absolute;
    left: 20%;
    width: max-content;
    padding: 10px;
    top: 0;
    font-size: 14px;
    transform: translateX(-50%);
    background-color: rgba(255, 255, 255, 0.726);
    z-index: 999;
    border-radius: 0px 0px 5px 5px;
}
#pas {
    transition: opacity 0.3s ease-in-out;
    position: absolute;
    left: 20%;
    width: max-content;
    padding: 10px;
    top: 0;
    font-size: 14px;
    transform: translateX(-50%);
    background-color: rgba(255, 255, 255, 0.726);
    z-index: 999;
    border-radius: 0px 0px 5px 5px;
}

.opacityzero {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

#basic-addon2 {
    cursor: pointer;
}

#bigcard {
    position: fixed; 
    top: 0%; 
    left: 25%;
    transform: translateX(50%);
    transform: translateY(3%);
    width: 50vw;
    height: max-content;
    z-index: 9999;
    align-items: center;
    text-align: center;
}

#maintitle {
    font-size: 2em;
    /* display: none; */
}

.displaynone{
    display: none;
}

#cross {
    position: fixed;
    width: 15px;
    top: 7%;
    right: 27%;
    cursor: pointer;
    z-index: 10000;
}

#maintxt {
    transform: translateX(22%);
    height: 68px;
    font-size: 15px;
    width: 70%;
    text-align: center;
}

#mainprice {
    font-size: 25px;
    font-weight: 600;
}

#mcardbody {
    align-items: center;
}

#bgblur {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.452);
    width: 100vw;
    height: 100vh;
    z-index: 9998;
}

.card {
    align-items: center;
}

#bigcard img {
    width: 70%;
}

@media (max-width: 770px) {
    #heroImage {
        display: none;
    }

    #hero {
        display: flex;
    }
    #search{
        position: absolute;
        margin-top: 60px;
    }
    header{
        height: 140px;
        margin-top: 0;
    }
}
